body{
	background: white;
	margin-top: 25px;
}

#benutzerAendern{
	position: absolute;
	width: 332px;
	left: 50px;
	top: 0px;
}

#top-nav{
	position: relative;
}

.text-info{
	float: left;
	width: 200px;
}

.eingabeDiv{
	float: left;
	width: 125px;
}
.eingabeDiv input {
	width: 100%;
}

.naechsteZeile{
	clear: both;
	margin-bottom: 8px;
}

.loginButton{
	position: relative;
}

.rechts{
	position: absolute;
	right: 0px;
}

.modulListe li{
	margin-bottom: 7px; 
}

.modulListe li a{
	text-decoration: none;
	color: #7396b1;
}

#seitenbereich{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#eingabeName{
	position:absolute;
	top: 25px;
	left: 991px;
}

#eingabePasswort{
	position:absolute;
	top: 65px;
	left: 991px;
}

#textName{
	position:absolute;
	top: 10px;
	left: 920px;
}

#textPasswort{
	position:absolute;
	top: 48px;
	left: 920px;
}

#passwortVergessen{
	position:absolute;
	top: 100px;
	left: 920px;
}

#loginButton{
	position:absolute;
	top: 100px;
	left: 1142px;
}

.ueberschrift{
	color: rgb(144,169,189);
	font-family:arial;
	font-size:17px;
}

p{
	font-family: arial;
	font-size: 15px;
}

.ueberschriftAufzaehlung{
	font-family: arial;
	font-size: 15px;
}

.ueberschriftButtons{
	font-family: arial;
	font-size: 12px;
}

.hauptfenster{
	margin-top: 20px;
	border: thin solid black;
	width: 98.5%;
	height: 300px;
	padding: 7px;
}

#cssmenu {
	height: 35px;
	margin-top: 80px;			/*‰uﬂere Abstand zum Seitenbereich*/
	padding: 0;					/*innerer Abstand zu inneren tags*/
	background-color: #c6daea;
}
#cssmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 7px;
}
#cssmenu ul li {
	font-family: arial;
	font-size: 15px;
	float: left;
	height: 35px;
	margin: 0;
	padding: 0;
	border-right: black 1px solid;
}

#cssmenu ul li a {
	display: block;
	float: left;
	padding-top: 7px;
	height: 35px;
	padding-right: 35px;
	cursor: pointer;
	text-decoration:none;
	color: black;
	padding-left: 35px;
}

#cssmenu ul li:hover,
#cssmenu ul li.active {
	background-color:rgb(144,169,189);;
}

.buttonAnordnung{
	float: right;
}

.naechsteZeile2{
	clear: both;
	margin-bottom: 30px;
}

.buttonAnordnung2{
	float: left;
}