/*Überschriften*/

.ueberschrift{
	color: rgb(144,169,189);
	font-family:arial;
	font-size:17px;
}

p{
	font-family: arial;
	font-size: 15px;
}

.ueberschriftAufzaehlung{
	font-family: arial;
	font-size: 15px;
}

.ueberschriftButtons{
	font-family: arial;
	font-size: 12px;
}

.error{
	font-family:arial;
	font-size:12px;
	color:red;
}

.warnungen{
color: red;
}