/*Allgemein*/
body{
	background: white;
	margin-top: 25px;
}

.seitenbereich{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.hauptfenster{
	margin-top: 20px;
	border: thin solid black;
	width: 98.5%;
	min-height: 300px;
	padding: 7px;
}

.text-info{
	float: left;
	width: 97px;
}

.top-nav{
	position: relative;
}

.eingabeDiv{
	float: left;
	width: 200px;
}

.eingabeDiv input {
	width: 100%;
}

.naechsteZeile{
	clear: both;
	margin-bottom: 8px;
}

.rechts{
	position: absolute;
	right: 0px;
}

.buttonAnordnung{
	float: right;
}

/*Modulliste*/
.modulListe li{
	margin-bottom: 7px; 
}

.modulListe li a{
	text-decoration: none;
	color: #7396b1;
}

/*Hauptfenster Benutzer anlegen*/
.benutzerAnlegen{
	position: absolute;
	width: 380px;
	left: 50px;
	top: 0px;
}

.text-infoBenutzerAnlegen{
	float: left;
	width: 170px;
}

.eingabeDivBenutzerAnlegen{
	float: left;
	width: 203px;
}

.eingabeDivBenutzerAnlegen input {
	width: 100%;
}

/*Hauptfenster für Modulsuche*/
.modulsuche{
	position: absolute;
	width: 380px;
	left: 50px;
	top: 0px;
}

.text-info2Modulsuche{
	float: left;
	width: 170px;
}

.eingabeDiv2Modulsuche{
	float: left;
	width: 204px;
}

.eingabeDiv2Modulsuche input {
	width: 100%;
}

select {
	width: 210px;}

/*Hauptfenster für Benutzerdaten ändern*/
.benutzerdatenAendern{
	position: absolute;
	width: 376px;
	left: 50px;
	top: 0px;
}

.text-infoBenutzerAendern{
	float: left;
	width: 200px;
}

.eingabeDivBenutzerAendern{
	float: left;
	width: 170px;
}

.eingabeDivBenutzerAendern input {
	width: 100%;
}

/*Hauptfenster für Modul ändern*/
.hauptfensterModulAendern{
	margin-top: 20px;
	border: thin solid black;
	min-width: 98.5%;
	min-height: 1100px;
	padding: 7px;
}

.modulAendern{
	position: absolute;
	width: 407px;
	left: 50px;
	top: 0px;
}

.text-infoModulAendern{
	float: left;
	width: 200px;
}

.eingabeDivModulAendern{
	float: left;
	width: 200px;
}
.eingabeDivModulAendern input {
	width: 100%;
}

/*Hauptfenster suchergebnis*/

.order-table{   
	color: rgb(144,169,189);
	font-family:arial;
	font-size:17px;
	margin-left: auto;
	margin-right: auto;
	
}
 
.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5; 
	border-bottom:1px solid #BBBBBB;
	padding:16px; 
		
}
 
.order-table-odd-row{
	text-align:center;
	color: black;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB; 
	
}
 
.order-table-even-row{
	text-align:center;
	color: black;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

/*Hauptfenster für Modul löschen*/
.loeschen{
	position: absolute;
	width: 350px;
	left: 25px;
	top: 0px;
}

/*Baumstruktur Modul betrachten */
.baumaufbau  {
	font-family:arial; 
	font-size:17px ;
	color: black;
}


/*Baumstruktur Modulhandbuch */
.baumaufbauModulhandbuch  {
	font-family:arial; 
	font-size:17px;
/*	color: black;*/
	text-decoration: none;

}

/*Hauptfenster für Modul erstellen*/
.hauptfensterModulErstellen{
	margin-top: 20px;
	border: thin solid black;
	min-width: 98.5%;
	min-height: 1950px;
	padding: 7px;
}

.modulErstellen{
	position: absolute;
	width: 413px;
	left: 25px;
	top: 0px;
}

.text-infoModulErstellen{
	float: left;
	width: 200px;
}

.eingabeDivModulErstellen{
	float: left;
	width: 205px;
}

.eingabeDivModulErstellen input {
	width: 100%;
}